[submodule "vendor/github.com/gorilla/mux"]
	path = vendor/github.com/gorilla/mux
	url = https://github.com/gorilla/mux
[submodule "vendor/github.com/gorilla/context"]
	path = vendor/github.com/gorilla/context
	url = https://github.com/gorilla/context
[submodule "vendor/github.com/stretchr/testify"]
	path = vendor/github.com/stretchr/testify
	url = https://github.com/stretchr/testify.git
[submodule "vendor/github.com/jinzhu/gorm"]
	path = vendor/github.com/jinzhu/gorm
	url = https://github.com/jinzhu/gorm
[submodule "vendor/github.com/mattn/go-sqlite3"]
	path = vendor/github.com/mattn/go-sqlite3
	url = https://github.com/mattn/go-sqlite3
[submodule "vendor/github.com/jinzhu/inflection"]
	path = vendor/github.com/jinzhu/inflection
	url = https://github.com/jinzhu/inflection
[submodule "vendor/github.com/stretchr/testify.git"]
	path = vendor/github.com/stretchr/testify.git
	url = https://github.com/stretchr/testify.git
