<h1 class="page-header">Your MongoDB Cluster</h1>
<h2 class="sub-header">Recent problems</h2>
<div ng-if="problems.length == 0" class="jumbotron">
    <div class="row">
        <div class="col-lg-1"><h1 style="text-align: center; transform: translateY(25%);"><span
                class="glyphicon glyphicon-thumbs-up"></span></h1>
        </div>
        <div class="col-lg-11">
            <div class="row">
                <div class="col-lg-12"><h1>Everything is fine.</h1></div>
            </div>
            <div class="row">
                <div class="col-lg-11"><p>There are currently no known problems.</p></div>
            </div>
        </div>
    </div>
</div>
<div class="bs-callout bs-callout-unknown"
     ng-repeat="problem in problems | orderBy:problem.first_occurred:true | limitTo:3">
    <h4><span ng-bind-html="problem.description"></span>
        <small>Known since {{formatDate(problem.first_occurred)}}</small>
    </h4>
    <p ng-bind-html="problem.long_description"></p>
    <ul>
        <li ng-if="problem.slave_id!=null"><a href="#/slaves/{{problem.slave_id}}">Inspect affected Slave</a></li>
        <li ng-if="problem.replica_set_id!=null"><a href="#/replicasets/{{problem.replica_set_id}}">Inspect affected
            Replica Set</a></li>
    </ul>
</div>
<a href="/#/problems" class="btn btn-default pull-right" ng-if="problems.length > 3">{{ problems.length - 3 }} more
    Problems <span aria-hidden="true">&rarr;</span></a>
<br/>
<div>
    <h2 class="sub-header">Slave Health</h2>
    <div id="slaves"></div>
</div>