<h1 class="page-header" ng-if="is_create_view">New Replica Set</h1>
<h1 class="page-header" ng-if="!is_create_view">Edit Replica Set <code>{{replicaset.name}}</code></h1>

<div class="bs-callout bs-callout-unknown" ng-repeat="problem in problemsByReplicaSet[replicaset.id]"
     ng-if="!is_create_view">
    <h4>{{problem.description}}
        <small>Known since {{formatDate(problem.first_occurred)}}</small>
    </h4>
    <p>{{problem.long_description}}</p>
</div>

<div class="bs-callout bs-callout-active" ng-if="!is_create_view && !problemsByReplicaSet[replicaset.id]">
    <h4><span class="glyphicon glyphicon-cloud" aria-hidden="true"></span> {{ replicaset.name }} is working.</h4>
</div>
<div class="panel panel-default" ng-if="!is_create_view">
    <div class="panel-heading">
        <h3 class="panel-title">Replica Set Overview</h3>
    </div>
    <table class="table" width="100%">
        <tr ng-repeat="mongo in replicaset.mongods">
            <td ng-class="{ 'bs-callout-unknown': problemsBySlave[mongo.slave.id].length > 0 }">
                <a href="/#/slaves/{{mongo.slave.id}}">Mongod on <code>{{ mongo.slave.hostname
                    }}:{{mongo.slave_port}}</code></a> -
                <b ng-if="!problemsBySlave[mongo.slave.id]"> Slave is in
                    {{ mongo.slave.configured_state }} mode.</b>
                <b ng-if="problemsBySlave[mongo.slave.id].length > 0"> Slave has problems.</b>

            </td>
        </tr>
    </table>
</div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title" ng-if="!is_create_view">Replica Set Settings</h3>
        <h3 class="panel-title" ng-if="is_create_view">New Set Settings</h3>
    </div>
    <div class="panel-body">
        <form ng-submit="updateReplicaSet()">
            <table width="100%">
                <tr>
                    <th>Replica Set name</th>
                    <td colspan="2">
                        <input ng-disabled="!is_create_view" type="text" class="form-control"
                               ng-model="edit_replicaset.name"/>
                    </td>
                </tr>
                <tr>
                    <th>Persistent nodes</th>
                    <td colspan="2">
                        <input type="number" class="form-control" ng-model="edit_replicaset.persistent_node_count"/>
                    </td>
                </tr>
                <tr>
                    <th>Volatile nodes</th>
                    <td colspan="2">
                        <input type="number" class="form-control" ng-model="edit_replicaset.volatile_node_count"/>
                    </td>
                </tr>
                <tr>
                    <th style="vertical-align: top; padding-top: 12px;">Sharding support
                    </th>
                    <td colspan="2">
                            <div class="btn-group btn-group-justified" data-toggle="buttons">
                                <label class="btn btn-default">
                                    <input type="radio" ng-disabled="!is_create_view" ng-model="edit_replicaset.sharding_role"
                                           value="configsvr">Config
                                </label>
                                <label class="btn btn-default">
                                    <input type="radio" ng-disabled="!is_create_view" ng-model="edit_replicaset.sharding_role" value="shardsvr">Shard
                                </label>
                                <label class="btn btn-default active">
                                    <input type="radio" ng-disabled="!is_create_view" ng-model="edit_replicaset.sharding_role" value="none" checked>None
                                </label>
                            </div>
                        <ul style="margin-top: 10px; list-style-type: none; padding-left: 0pt; line-height: 1.5em " class="clearfix">
				<li><b>Config</b>: Mongod is started with the <a target="_blank" href="https://docs.mongodb.com/manual/reference/program/mongod/#cmdoption--shardsvr"><code>--configsvr</code></a></li>
				<li><b>Shard</b>: Mongod is started with the <a target="_blank" href="https://docs.mongodb.com/manual/reference/program/mongod/#cmdoption--shardsvr"><code>--shardsvr</code></a></li>
                                <li><b>None</b>: Mongod is started without CLI flags regarding Sharding</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td>
                        <button type="submit" ng-if="!is_create_view" class="btn btn-primary pull-right">Apply</button>
                        <button type="submit" ng-if="is_create_view" class="btn btn-success pull-right">Create</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

<div class="panel panel-danger" ng-if="!is_create_view">
    <div class="panel-heading">
        <h3 class="panel-title">Remove Replica Set</h3>
    </div>
    <div class="panel-body">
        <button type="button" role="button" class="btn btn-danger"
                data-toggle="modal" data-target="#confirm_remove">Remove Replica Set from system
        </button>
    </div>
</div>
<div class="modal fade" id="confirm_remove" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     ng-if="!is_create_view">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Cancel"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Confirm Replica Set Removal</h4>
            </div>
            <div class="modal-body">
                You are about to remove the replica set <code>{{ replicaset.name }}</code>. By doing so, all the data of
                this
                replica set will be unrecoverably removed.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" ng-click="deleteReplicaSet()">Remove Replica Set
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
