<h1 class="page-header">Replica Sets<span class="pull-right"><a href="/#/replicasets/new" class="btn btn-success">Create new Replica Set</a></span>
</h1>
<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">Replica Sets with Problems</h3>
    </div>
    <div class="list-group">
        <a href="#/replicasets/{{replicaset.id}}" class="list-group-item" ng-repeat="replicaset in replicasets"
           ng-if="problemsByReplicaSet[replicaset.id].length > 0">
            <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>
            <code>{{ replicaset.name }}</code> - <b>Problems</b>
            <ul>
                <li ng-repeat="p in replicaset.problems">{{p.description}}</li>
            </ul>

        </a>
    </div>
</div>

<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Working Replica Sets</h3>
    </div>
    <div class="list-group">
        <a href="#/replicasets/{{replicaset.id}}" class="list-group-item" ng-repeat="replicaset in replicasets"
           ng-if="!problemsByReplicaSet[replicaset.id]">
            <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>
            <code>{{ replicaset.name }}</code>
        </a>
    </div>
</div>
