<h1 class="page-header">Replica Sets<span class="pull-right"><a href="/#/replicasets/new" class="btn btn-success">Create new Replica Set</a></span>
</h1>
<h2 class="sub-header">Replica Sets with problems</h2>
<div class="bs-callout bs-callout-unknown" ng-repeat="replicaset in replicasets" ng-if="replicaset.problems.length > 0">
    <h4>
        <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>
        {{ replicaset.name }}
    </h4>
    <span class="pull-right">
            <a href="#/replicasets/{{replicaset.id}}" class="btn btn-default">
                <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
            </a>
        </span>
    <ul>
        <li ng-repeat="p in replicaset.problems">{{p.description}}</li>
    </ul>
</div>
<h2 class="sub-header">Working Replica Sets</h2>
<div class="bs-callout bs-callout-active" ng-repeat="replicaset in replicasets" ng-if="replicaset.problems.length == 0">
    <h4>
        <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>
        {{ replicaset.name }}
        <span class="pull-right">
            <a href="#/replicasets/{{replicaset.id}}" class="btn btn-default">
                <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
            </a>
        </span>

    </h4>
</div>