<h1 class="page-header">Risk Groups</h1>
<p>Assign your Slaves to groups which share a common risk of failure, e.g. a shared power supply.</p>
<p>MAMID spreads Replica Set members over Slaves in different Risk Groups to minimize downtime &amp; maximize availability.</p>
<p>Slaves not assigned to a Risk Group will be used for Replica Sets regardless of their physical interdependencies with remaining Replica Set members.</p>
<form ng-submit="createRiskGroup()">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Create a new Risk Group</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="input-group">
                        <input type="text" ng-model="new_riskgroup.name" placeholder="New Risk Group Name"
                               class="form-control">
                        <span class="input-group-btn"><button class="btn btn-success"
                                                              type="submit">Create</button></span>
                    </div><!-- /input-group -->
                </div>
            </div>
        </div>
    </div>
</form>
<div class="row">
    <div class="col-lg-12">
        <div class="input-group">
            <input placeholder="Filter Slaves" ng-model="search" type="text" class="form-control">
            <span class="input-group-addon"><span class="glyphicon glyphicon-search"
                                                  aria-hidden="true"></span></span>
        </div>
    </div>
</div>
<br/>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" href=""
                   aria-expanded="true"
                   aria-controls="collapseOne">
                    Unassigned Slaves
                </a> <span class="label label-primary">{{unassigned_slaves.length}}</span> <span data-toggle="tooltip"
                                                                                                 data-placement="right"
                                                                                                 title="Slaves need to be in 'disabled' state to be assignable to a risk group."><span
                    class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></span>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <ul class="list-group">
                <li ng-repeat="slave in unassigned_slaves | filter:search" class="list-group-item"><a href="#/slaves/{{slave.id}}"><span
                        class="glyphicon glyphicon-hdd" aria-hidden="true" ng-if="slave.persistent_storage"></span>
                    <span class="glyphicon glyphicon-transfer" aria-hidden="true"
                          ng-if="!slave.persistent_storage"></span>
                    <code>{{slave.hostname}}</code></a>
                    <span class="pull-right">Assign to
                            <select ng-model="slave.riskgroup" ng-change="assignToRiskGroup(slave)">
                                <option value="" selected>Select group..</option>
                                <option ng-repeat="riskgroup in riskgroups"
                                        value="{{riskgroup.id}}">{{riskgroup.name}}</option>
                            </select>
                        </span>
                </li>
            </ul>
        </div>
    </div>
    <div ng-repeat="riskgroup in riskgroups" class="panel panel-default">
        <div class="panel-heading clearfix" data-toggle="collapse" role="tab" id="heading{{riskgroup.id}}">
            <span class="pull-right"><button class="btn btn-danger" ng-disabled="!isDeletable(riskgroup)"
                                             data-toggle="modal" data-target="#confirm_remove{{riskgroup.id}}"><span
                    class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></span>
            <h4 class="panel-title" style="padding-top: 7.2px;">
                <a class="collapsed" role="button" href="" data-toggle="collapse"
                   data-target="#collapse{{riskgroup.id}}" data-parent="#accordion" aria-expanded="false"
                   aria-controls="collapse{{riskgroup.id}}" ng-click="getSlaves(riskgroup)">
                    {{riskgroup.name}}
                </a> <span class="label label-primary">{{riskgroup.slaves.length}}</span>
            </h4>
        </div>
        <div id="collapse{{riskgroup.id}}" class="panel-collapse collapse" role="tabpanel"
             aria-labelledby="heading{{riskgroup.id}}">
            <ul class="list-group">
                <li ng-repeat="slave in riskgroup.slaves | filter:search" class="list-group-item"><a href="#/slaves/{{slave.id}}"><span
                        class="glyphicon glyphicon-hdd" aria-hidden="true" ng-if="slave.persistent_storage"></span>
                    <span class="glyphicon glyphicon-transfer" aria-hidden="true"
                          ng-if="!slave.persistent_storage"></span>
                    <code>{{slave.hostname}}</code></a>
                    <span class="pull-right">Assign to
                        <select ng-model="slave.riskgroup" ng-change="assignToRiskGroup(slave, riskgroup)">
                            <option value="" selected>Select group..</option>
                            <option value="0">Remove from risk group</option>
                            <option ng-repeat="riskgroup_sel in riskgroups" value="{{riskgroup_sel.id}}"
                                    ng-if="riskgroup_sel.id!=riskgroup.id">{{riskgroup_sel.name}}</option>
                            </select>
                        </span>
                </li>
            </ul>
        </div>
    </div>
</div>


<div ng-repeat="riskgroup in riskgroups" class="modal fade" id="confirm_remove{{riskgroup.id}}" tabindex="-1"
     role="dialog" aria-labelledby="myModalLabel{{riskgroup.id}}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Cancel"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel{{riskgroup.id}}">Confirm Risk Group Removal</h4>
            </div>
            <div class="modal-body">
                You are about to remove the risk group <code>{{riskgroup.name}}</code>.
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="removeRiskGroup(riskgroup)" class="btn btn-danger">Remove Risk Group
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>