<h1 class="page-header" ng-if="!is_create_view">Edit Slave <code>{{slave.hostname}}</code>
    <small><a href="/#/riskgroups"><span class="label label-primary"
                                         ng-if="slave.risk_group_id != null">{{slave.riskgroup.name}}</span></a></small>
</h1>
<h1 class="page-header" ng-if="is_create_view">New Slave</h1>
<div class="bs-callout bs-callout-unknown" ng-repeat="problem in problemsBySlave[slave.id]" ng-if="!is_create_view">
    <h4>{{problem.description}}
        <small>Known since {{formatDate(problem.first_occurred)}}</small>
    </h4>
    <p>{{problem.long_description}}</p>
</div>

<div class="bs-callout bs-callout-{{ slave.configured_state }}" ng-if="!is_create_view && !problemsBySlave[slave.id]">
    <h4><span class="glyphicon glyphicon-hdd" aria-hidden="true" ng-if="slave.persistent_storage"></span>
        {{ slave.hostname }} is in
        <b>{{ slave.configured_state }}</b>
        state.</h4>
</div>

<div class="panel panel-default" ng-if="!is_create_view">
    <div class="panel-heading">
        <h3 class="panel-title">Deployed Mongods on Slave</h3>
    </div>
    <table class="table">
        <tr ng-repeat="mongod in mongods">
            <td>Mongod at <code>{{slave.hostname}}:{{mongod.slave_port}}</code> on Replica Set <a
                    href="/#/replicasets/{{mongod.replica_set_id}}"><code>{{mongod.replicaset.name}}</code></a></td>
        </tr>
    </table>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title" ng-if="!is_create_view">Slave Settings</h3>
        <h3 class="panel-title" ng-if="is_create_view">New Slave</h3>
    </div>
    <div class="panel-body">
        <form ng-submit="updateSlave()">
            <fieldset ng-disabled="slave.configured_state != 'disabled' && slave.configured_state != 'maintenance'">
                <table width="100%">
                    <tr>
                        <th>Hostname</th>
                        <td colspan="3">
                            <input type="text" class="form-control" ng-model="edit_slave.hostname"/>
                        </td>
                    </tr>
                    <tr>
                        <th>Slave port</th>
                        <td colspan="3">
                            <input type="number" class="form-control" placeholder="8081"
                                   ng-model="edit_slave.slave_port"/>
                        </td>
                    </tr>
                    <tr>
                        <th>Mongod port range <span data-toggle="tooltip" data-placement="right"
                                                    title="Begin is inclusive, end is exclusive."><span
                                class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></span></th>
                        <td>
                            <input type="number" class="form-control" placeholder="18080"
                                   ng-model="edit_slave.mongod_port_range_begin"/>
                        </td>
                        <td>
                            <input type="number" class="form-control" placeholder="18081"
                                   ng-model="edit_slave.mongod_port_range_end"/>
                        </td>
                        <td style="text-align: right">≙ <b>{{ calcMongodCount() }}</b> Mongods</td>
                    </tr>
                    <tr>
                        <th>Slave with persistent storage <span class="glyphicon glyphicon-hdd"
                                                                aria-hidden="true"></span>
                        </th>
                        <td colspan="3">
                            <input type="checkbox" class="form-control" ng-model="edit_slave.persistent_storage"/>
                        </td>
                    </tr>
                </table>
                <button type="submit"
                        class="btn btn-primary pull-right" ng-if="!is_create_view">
                    Apply
                </button>
                <button type="submit"
                        class="btn btn-success pull-right" ng-if="is_create_view">
                    Create Slave
                </button>
            </fieldset>
        </form>
    </div>
</div>
<div class="panel panel-default" ng-if="!is_create_view">
    <div class="panel-heading">
        <h3 class="panel-title">Slave Control</h3>
    </div>
    <div class="panel-body">
        <ul>
            <li><b>Active</b> This Slave eligible to host Mongods.</li>
            <li><b>Maintenance mode</b> No new Mongods will be spawned on this Slave. Existing Mongods will be left
                untouched. Monitoring is disabled.
            </li>
            <li><b>Disabled</b> This Slave should not host Mongods. Existing Mongods are attempted to be migrated to
                eligible Slaves.
            </li>
        </ul>
        <div class="btn-group btn-group-justified pull-right" role="group">
            <div class="btn-group" role="group">
                <button ng-disabled="slave.configured_state == 'unknown'"
                        ng-class="{active: slave.configured_state == 'active'}"
                        class="btn btn-default" ng-click="setSlaveState('active')">Active
                </button>
            </div>
            <div class="btn-group" role="group">
                <button ng-disabled="slave.configured_state == 'unknown'"
                        ng-class="{active: slave.configured_state == 'maintenance'}" class="btn btn-default"
                        ng-click="setSlaveState('maintenance')">Maintenance mode
                </button>
            </div>
            <div class="btn-group" role="group">
                <button ng-disabled="slave.configured_state == 'unknown'" class="btn btn-default"
                        ng-class="{active: slave.configured_state == 'disabled'}" data-toggle="modal"
                        data-target="#confirm_disable">
                    Disabled
                </button>
            </div>
        </div>
        <br/>
        <div class="bs-callout bs-callout-maintenance clearfix" ng-if="slave.configured_state_transitioning">
            <img class="pull-left" width="50px" src="/static/img/gears.svg"/>
            <h4 style="padding-top: 15px; margin-left: 65px;">Slave is changing state.
                <small ng-if="edit_slave.configured_state == 'disabled'"><br/>Migrating Mongods to other machines to
                    honor
                    Replica Set member counts. Only after the replacement instances are in sync with the remaining
                    members of the Replica Set, members on this slave will be removed.
                </small>
            </h4>
        </div>
    </div>
</div>
<div class="panel panel-danger" ng-if="!is_create_view">
    <div class="panel-heading">
        <h3 class="panel-title">Remove Slave</h3>
    </div>
    <div class="panel-body">
        <p>Removal is only possible with the slave in disabled mode.</p>
        <button ng-disabled="slave.configured_state != 'disabled'" type="button" role="button" class="btn btn-danger"
                data-toggle="modal" data-target="#confirm_remove">Remove slave from system
        </button>
    </div>
</div>
<div class="modal fade" id="confirm_remove" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     ng-if="!is_create_view">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Cancel"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Confirm Slave Removal</h4>
            </div>
            <div class="modal-body">
                You are about to remove the slave <code>{{ slave.hostname }}</code>.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" ng-click="deleteSlave()">Remove slave
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="confirm_disable" tabindex="-1" role="dialog" aria-labelledby="confirmDisableLabel"
     ng-if="!is_create_view">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Cancel"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="confirmDisableLabel">Confirm Slave state change</h4>
            </div>
            <div class="modal-body">
                <p>You are about to disable the slave <code>{{ slave.hostname }}</code>.</p>
                <p>This indicates to <span class="mamid"></span> that slave <code>{{ slave.hostname }}</code> should not host Mongods.
                <span class="mamid"></span> will attempt to migrate this Slave's Mongods to other eligible Slaves.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" ng-click="setSlaveState('disabled')">Disable slave</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
