<h1 class="page-header">Slaves<span class="pull-right"><a href="/#/slaves/new"
                                                          class="btn btn-success">Create new Slave</a></span></h1>

<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">Slaves with Problems</h3>
    </div>
    <div class="list-group">
        <a href="#/slaves/{{slave.id}}" class="list-group-item" ng-repeat="slave in slaves"
           ng-if="slave.problems.length > 0">
            <span class="glyphicon glyphicon-hdd" aria-hidden="true" ng-if="slave.persistent_storage"></span>
            <code>{{ slave.hostname }}</code> - <b>Problems</b>
            <ul>
                <li ng-repeat="p in slave.problems">{{p.description}}</li>
            </ul>

        </a>
    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Maintenance</h3>
    </div>
    <div class="list-group">
        <a href="#/slaves/{{slave.id}}" class="list-group-item" ng-repeat="slave in slaves"
           ng-if="slave.configured_state == 'maintenance' && slave.problems.length == 0">
            <td>
                <span class="glyphicon glyphicon-hdd" aria-hidden="true" ng-if="slave.persistent_storage"></span>
                <code>{{ slave.hostname }}</code>
            </td>
        </a>
    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Disabled</h3>
    </div>
    <div class="list-group">
        <a href="#/slaves/{{slave.id}}" class="list-group-item" ng-repeat="slave in slaves"
           ng-if="slave.configured_state == 'disabled' && slave.problems.length == 0">
            <td>
                <span class="glyphicon glyphicon-hdd" aria-hidden="true" ng-if="slave.persistent_storage"></span>
                <code>{{ slave.hostname }}</code>
            </td>
        </a>
    </div>
</div>

<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Active</h3>
    </div>
    <div class="list-group">
        <a href="#/slaves/{{slave.id}}" class="list-group-item" ng-repeat="slave in slaves"
           ng-if="slave.configured_state == 'active' && slave.problems.length == 0">
            <td>
                <span class="glyphicon glyphicon-hdd" aria-hidden="true" ng-if="slave.persistent_storage"></span>
                <code>{{ slave.hostname }}</code>
            </td>
        </a>
    </div>
</div>