<h1 class="page-header">Slaves</h1>

<h2 class="sub-header">Unknown</h2>
<div class="bs-callout bs-callout-unknown" ng-repeat="slave in slaves" ng-if="slave.state == 'unknown'">
    <h4>{{ slave.hostname }} - <b>Unknown</b>
                <span class="pull-right">
                    <a href="#/slaves/{{slave.id}}" class="btn btn-default"><span class="glyphicon glyphicon-wrench"
                                                                                      aria-hidden="true"></span></a>
                    </span>
    </h4>
</div>

<h2 class="sub-header">Maintenance</h2>
<div class="bs-callout bs-callout-maintenance" ng-repeat="slave in slaves" ng-if="slave.state == 'maintenance'">
    <h4>{{ slave.hostname }} - <b>Maintenance</b>
                <span class="pull-right">
                    <a href="#/slaves/{{slave.id}}" class="btn btn-default"><span class="glyphicon glyphicon-wrench"
                                                                                      aria-hidden="true"></span></a>
                    </span>
    </h4>
</div>

<h2 class="sub-header">Disabled</h2>
<div class="bs-callout bs-callout-disabled" ng-repeat="slave in slaves" ng-if="slave.state == 'disabled'">
    <h4>{{ slave.hostname }} - <b>Disabled</b>
                <span class="pull-right">
                    <a href="#/slaves/{{slave.id}}" class="btn btn-default"><span class="glyphicon glyphicon-wrench"
                                                                                      aria-hidden="true"></span></a>
                    </span>
    </h4>
</div>

<h2 class="sub-header">Active</h2>
<div class="bs-callout bs-callout-active" ng-repeat="slave in slaves" ng-if="slave.state == 'active'">
    <h4>{{ slave.hostname }} - <b>Active</b>
                <span class="pull-right">
                    <a href="#/slaves/{{slave.id}}" class="btn btn-default"><span class="glyphicon glyphicon-wrench"
                                                                                       aria-hidden="true"></span></a>
                    </span>
    </h4>
</div>