<h1 class="page-header">System</h1>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">MongoDB Key File</h3>
    </div>
    <div class="panel-body">
	    <p>All Mongod instances in the cluster are deployed with a key file for <a target="_blank" href="https://docs.mongodb.com/manual/core/security-internal-authentication/#keyfiles">Internal Authentication</a>. Its contents can be copied from the text field below.</p>
        <div class="row">
            <div class="col-lg-12">
                    <input minlength="6" onClick="this.select();" maxlength="1024" ng-model="keyFile.content" required type="text" readonly style="width: 100%" class="form-control">
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Administrative Account</h3>
    </div>
    <div class="panel-body">

	    <p>All Mongod instances deployed by MAMID have <a target="_blank" href="https://docs.mongodb.com/manual/core/authorization/">user access control</a> enabled. Replica Sets have an administrative user with the <a href="https://docs.mongodb.com/manual/reference/built-in-roles/#root"><code>root</code> role</a>.</p>
	    <p>You may use this user for further configuration, e.g. adding additional users or configuring <code>mongos</code> instances.</p>
	<p><b>Note</b>: you must not change this credential manually, otherwise MAMID will lose management access to the Mongods it deployed.</p>
        <hr/>
        <div class="row">
            <div class="col-lg-1">
                <label>Username</label>
            </div>
            <div class="col-lg-11">
                    <input onClick="this.select();" ng-model="mgmtUser.username" required type="text" readonly style="width: 100%" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1">
                <label>Password</label>
            </div>
            <div class="col-lg-11">
                <input onClick="this.select();" ng-model="mgmtUser.password" required type="text" readonly style="width: 100%" class="form-control">
            </div>
        </div>
    </div>
</div>
<hr/>
<h3 class="text-center" style="color: #858585">Powered by <a target="_blank" href="https://github.com/KIT-MAMID/mamid"><i>MAMID</i></a></h3>
<img class="center-block mamid-logo" style="max-height: 200px;" src="/static/img/mamid.png" ng-click="e()"/>